.media_image_container {
  video {
    border-radius: 8px;
    background-size: 100%;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #f02a00;
  }
}

.media-title {
  padding-top: 25px;
  padding-left: 5px;
  color: white;
  font-weight: 500;
  position: absolute;
  z-index: 2;
}

.media-description {
  font-weight: bold;
}

.views-container {
  margin-left: 50px;
  font-weight: bold;
}

.media-info {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.profile_image_container {
  img {
    max-width: 256px;
    max-height: 350px;
    border-radius: 4px;
  }
}



