.profile_image_container {
  display: flex;
  width: 100%;
  video {
    border-radius: 8px;
    background-size: 100%;
    width: 600px;
    height: 580px;
    height: 100%;
    margin: 0 auto;
  }
}

.comment-submit {
  // width: 220px;
  // height: 100px;
  margin: 0 auto;
  input {
    width: 165px;
    height: 80px;
  }
}

.click-add {
margin: 0 auto;
font-weight: 300;
margin-top: 10px;
margin-bottom: 10px;
}

.btn-comment {
  max-width: 150px;
  max-height: 45px;
  margin-bottom: 20px;
  overflow: hidden;
  background: url('https://i.imgur.com/XdSzjiX.png') center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  &:hover {
  background: url('https://i.imgur.com/XdSzjiX.png') center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  }
}

.bot-box {
  margin-right: 15px;
  margin-bottom: 15px;
  height: 150px;
  opacity: 0;
  &:hover {
    cursor: pointer;
  }
}

.card-body {
  // margin: 0 auto;
  width: 100%;
  
}

.info-card {
  width: 100%;
  margin: 0 auto;
 
}

.comment-text {
  // margin-left: 125px;
  font-weight: 300;
}

.enter-comment {
  margin: 0 auto;
}
