@import './components/home';
@import './components/navbar';
@import './components//footer';
@import './components/register';
@import './components/login';
@import './components/gamedetail';
@import './components/mediadetail';
@import './components/mediaupload';

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.form-page {
  form {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #e3e3e3;
    padding: 30px;
    margin-bottom: 20px;
    button {
      width: 200px;
      max-width: 100%;
    }
    .form-text {
      color: red;
    }
    .form-label {
      margin-bottom: 0px;
    }
    .form-bottom {
      input {
        margin-bottom: 10px;
      }
    }
  }
}